/* Fonts */

@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'RobotoBlack';
    src: url('../fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf');
}

/* End fonts */

/* Start menu */

html,
body {
    scroll-behavior: smooth;
}

#logo {
    align-items: center;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 100px;
    align-items: center;
    background-color: white;
    top: 0;
}

#menu {
    list-style: none;
}

#menu li {
    display: inline;
    margin-left: 50px;
}

#menu li a:hover {
    color: #000;
    border-top: 3px solid #46a7d5;
    padding-top: 38px;
}

#menu a {
    text-decoration: none;
    color: #7b7e84;
    font-family: 'RobotoMedium';
}

#hamburger {
    display: none;
}

/* For navigation navbar */

#main_services {
    height: 50px;
    margin-top: -50px;
}

#main_projects {
    height: 50px;
    margin-top: -50px;
}

main_contact {
    height: 50px;
    margin-top: -50px;
}

/* Media queries for responsive menu */

@media only screen and (max-width: 950px) {

    header {
        background-color: white;
    }

    #logo {
        width: 30%;
    }

    #menu {
        margin-right: 10px;
    }

    #menu li {
        padding-top: 30px;
        font-size: 100%;
        margin: auto;
        margin-right: 10px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
    }

    #menu li a:hover {
        color: #000;
        border-top: none;
        padding-top: 0px;
    }

    #navbar {
        margin-top: 60px;
        margin-left: -10px;
        background-color: white;
    }

    #hamburger {
        display: none;
    }

    #hamburger + label {
        background: #2ea3bd;
        cursor: pointer;
        font-family: 'RobotoMedium';
        font-size: 3rem;
        position: relative;
        vertical-align: middle;
        z-index: 10;
        margin-left: 50%;
    }

    #hamburger + label:after {
        content: "|||";
        transform: rotate(90deg);
        display: inline-block;
        transition: transform .3s;
        width: 60px;
        margin-top: 20px;
    }

    #hamburger:checked + label:after {
        color: rgba(255, 30, 30, 0.815);
    }

    #hamburger + label + nav {
        left: -100%;
        position: absolute;
        transition: left .3s;
    }

    #hamburger:checked + label + nav {
        left: 0;
        outline: 10000px solid rgba(0, 0, 0, .7);
    }
}



/* End menu */

/* CONTENT */

/* Start slider */

.angle_left {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 70px;
    background-color: rgb(2, 2, 2);
    opacity: 0.5;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.angle_left i,
.angle_right i {
    color: white;
    padding-top: 20px;
    font-size: 2em;
}

.angle_left i {
    margin-left: -10px;
}

.angle_right i {
    margin-left: 10px;
}

.angle_right {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 70px;
    background-color: rgb(2, 2, 2);
    opacity: 0.5;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.angle_left:hover,
.angle_right:hover {
    background-color: #46a7d5;
}

#slider {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: baseline;
    position: relative;
    padding-top: 100px;
}

#slogan {
    color: #46a7d5;
    font-size: 32px;
    font-family: 'RobotoBold';
    margin-bottom: 40px;
}

#slogan_text {
    color: white;
    font-family: 'RobotoBold';
    border: none;
}

#slogan_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'RobotoBlack';
    font-size: 32px;
    position: absolute;
    top: 40%;
    left: 10%;
}

#slider img {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 5px solid #3486ae;
}

#small_text {
    font-family: 'RobotoLight';
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: auto;
    position: absolute;
    top: 70%;
}

#button_slider {
    background-color: #46a7d5;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 100%;
    left: 0%;
    border-radius: 4%;
    border-bottom: 3px solid #3486ae;
    font-family: 'RobotoBold';
    cursor: pointer;
    margin-top: 10px;
}

@media only screen and (max-width: 950px) {

    .angle_left,
    .angle_right {
        display: none;
    }

    #slider {
        margin: auto;
        margin-top: 100px;
        margin-left: 30px;
    }

    #slider img {
        display: none;
    }

    #slogan {
        font-size: 80%;
    }

    #slogan_title {
        flex-direction: column;
        margin-right: 15%;
        text-align: center;
    }

    #slogan_text {
        color: black;
        font-size: 70%;
    }

    #small_text {
        color: black;
        position: relative;
        width: 80%;
    }

    #button_slider {
        position: relative;
    }
}

/* End slider */

/* Start ours services */

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'RobotoRegular';
    font-size: 50px;
    text-align: center;
}


hr {
    border-top: 1px solid #f0f0f0;
    text-align: center;
    width: 10em;
    margin-bottom: -0.9em;
    margin-top: -20px;
}

.circle {
    border-radius: 50%;
    color: #46a7d5;
    background-color: white;
    text-align: center;
    border: none;
}


/* presentation services */

#intro_services {
    text-align: center;
    color: #7b7e84;
    width: 80%;
    margin-bottom: 5%;
    font-family: 'RobotoMedium';
}

#img_about {
    max-width: 600px;
    max-height: 500px;
    margin-bottom: 150px;
}

.container_about {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
}

.text_about {
    width: 60%;
    font-family: 'RobotoMedium';
    color: #7b7e84;
}

.title_about {
    color: black;
}


.description_services {
    display: flex;
    align-items: center;
    align-content: space-around;
}

.description_services > p {
    margin-left: 20px;
}

.icon {
    font-size: 150%;
    padding: 20px;
    color: #46a7d5;
}

span {
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #cecece;
}

.circle_service {
    border-radius: 50%;
    color: #46a7d5;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: -21px;
    font-size: 13px;
    border-color: #fdfdfd;
}

@media only screen and (max-width:450px) {
    #img_about {
        max-width: 250px;
        max-height: 150px;
        margin-bottom: 150px;
    }
}

@media only screen and (max-width:950px) {
    .services {
        margin-top: 300px;
    }
}

@media only screen and (max-width:1200px) {

    #container_services {
        display: flex;
        flex-direction: column;
    }

    .container_about {
        flex-direction: column;
    }

    #img_about {
        width: 440px;
        height: 290px;
        margin-bottom: 40px;
    }

    .text_about {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .description_services {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .circle_service {
        margin-left: -1px;
        margin-top: -20px;
    }
}

/* End services */

/* Start projcts*/

.projects {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0%;
}

#intro_projets {
    text-align: center;
    width: 80%;
    margin-bottom: 5%;
    font-family: 'RobotoMedium';
    color: #7b7e84;
}


#btn_first,
#btn_second,
#btn_third,
#btn_last {
    border: 0px;
    padding: 10px 24px;
    background-color: #e4e4e4;
    width: 120px;
    height: 50px;
    float: left;
    color: #86888d;
    font-family: 'RobotoMedium';
    position: relative;
    cursor: pointer;
}

#btn_first:hover:after,
#btn_second:hover:after,
#btn_third:hover:after,
#btn_last:hover:after {
    content: '';
    border: 12px solid transparent;
    border-top: 12px solid #3486ae;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
}

#btn_first:focus:after,
#btn_second:focus:after,
#btn_third:focus:after,
#btn_last:focus:after {
    content: '';
    border: 12px solid transparent;
    border-top: 12px solid #3486ae;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    position: absolute;
}

.btn-group {
    margin-bottom: 3%;
}


#btn_first:hover,
#btn_second:hover,
#btn_third:hover,
#btn_last:hover,
#btn_first:focus,
#btn_second:focus,
#btn_third:focus,
#btn_last:focus {
    background: #46a7d5;
    color: white;
    border-bottom: 3px solid #3486ae;
    outline: none;
}


#btn_first {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#btn_last {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

@media only screen and (max-width: 550px) {
    .btn-group {
        display: flex;
        flex-direction: column;
    }

    #btn_first,
    #btn_second,
    #btn_third,
    #btn_last {
        margin-bottom: 0px;
    }

    #btn_first {
        border-bottom-left-radius: 0%;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }

    #btn_last {
        border-top-right-radius: 0%;
        border-bottom-right-radius: 10%;
        border-bottom-left-radius: 10%;
    }

    #btn_first:hover,
    #btn_second:hover,
    #btn_third:hover,
    #btn_last:hover,
    #btn_first:focus,
    #btn_second:focus,
    #btn_third:focus,
    #btn_last:focus {
        margin-bottom: 0px;
    }

    #btn_last:after {
        display: none;
    }
}


/* Portfolio */

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f5f5f5;
}

.portfolio_img {
    margin: 1%;
    width: 23%;
    overflow: hidden;
}

.img_portfolio_group {
    width: 100%
}

.eyes {
    font-size: 20px;
    color: white;
}

.border_eyes {
    position: absolute;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 80%;
    padding: 15px;
    border: 2px solid white;
    background-color: rgba(70, 167, 213, 1);
    opacity: 1;
}


.bg_portfolio {
    display: flex;
    position: relative;
    width: auto;
    height: 175px;
    margin-top: -278px;
    opacity: 0;
    border-bottom: 6.2em solid rgba(0, 0, 0, 0.4);
}

.bg_portfolio:hover {
    opacity: 1;
    transition: 2s;
}

.text_portfolio {
    color: white;
    margin-top: 200px;
    margin-left: 20px;
    font-family: 'RobotoBold';
}

.name_portfolio {
    font-family: 'RobotoRegular';
}

@media only screen and (max-width: 1200px) {
    .portfolio_img {
        width: 35%;
    }
}

@media only screen and (max-width: 950px) {

    #portfolio {
        justify-content: center;
    }

    .portfolio_img {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {



    .bg_portfolio {
        width: 100%;
        max-height: 97px;
        margin-top: -172px;
        margin-bottom: 40px;
        border-bottom: 70px solid rgba(0, 0, 0, 0.4);
    }

    .eyes {
        font-size: 15px;
    }

    .text_portfolio {
        margin-top: 120px;
        margin-left: 30px;
    }

    .border_eyes {
        border-radius: 50%;
        margin-top: 75px;
        margin-left: 75%;
        padding: 15px;
        border: 2px solid white;
    }
}

/* End projects */

/* Start contact */

.container_contact {
    margin-top: 5%;
}

h3 {
    font-size: 30px;
    color: #000;
}

.contact_color {
    background-color: #46a7d5;
    height: 700px;
    margin-bottom: -700px;
}

#map {
    width: 100%;
    height: 700px;
    opacity: 0.4;
    border: none;
}

#map:hover {
    opacity: 1;
    transition: 2s;
}


/* Formular */

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#form {
    width: 25em;
    height: 38em;
    background-color: white;
    margin-top: -650px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    opacity: 0.9;
}

.form_info {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: #64676d;
    font-family: 'RobotoMedium';
}

.form_info h2 {
    font-family: 'RobotoRegular';
    color: black;
}

.form_elem {
    margin-bottom: 5%;
}

textarea {
    width: 100%;
    height: 15em;
}

#btn_form {
    background-color: #46a7d5;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 85%;
    border-radius: 4%;
    border-bottom: 3px solid #3486ae;
    font-family: 'RobotoBold';
    cursor: pointer;
}

@media only screen and (max-width: 950px) {
    .contact_color {
        display: none;
    }

    #form {
        width: 100%;
        align-content: center;
        margin-top: 10%;
        margin-right: 0px;
        height: 40em;
    }

    .container_contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact_color {
        background-color: #46a7d5;
        width: 100%;
    }

    .contact_form {
        width: 100%;
        margin-top: 10%;
    }

    #btn_form {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 60%;
    }
}
